<h1>Experience</h1>
<div>
    <form [formGroup]="form">
    <div formArrayName="experience">
    <ng-container *ngFor="let exp of experience.controls">  
    <div [formGroup]=exp>
    <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input
          matInput
          placeholder="Company"
          formControlName="company"
        />
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <input
          matInput
          placeholder="Role"
          formControlName="role"
        />
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Responsibilities</mat-label>
        <input
          matInput
          placeholder="Responsibilities"
          formControlName="responsibilities"
        />
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>From Year</mat-label>
        <input
          matInput
          placeholder="From Year"
          formControlName="fromYear"
        />
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>To Year</mat-label>
        <input
          matInput
          placeholder="To Year"
          formControlName="toYear"
        />
      </mat-form-field>
      <br>
    </div>
  </ng-container>
    </div>

    <button mat-button (click)="addExperience()">Add another experience</button>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Skills</mat-label>
        <input
          matInput
          placeholder="Skills"
          formControlName="skills"
        />
      </mat-form-field>
      <br>
    </div>

    </form>
</div>