<h1>Contact Details</h1>
<div>
    <form [formGroup]="form">
    <div formGroupName="contactDetails">
    <h2>Work</h2>
    <br>
    <div formArrayName="work">
    <ng-container *ngFor="let workform of work.controls">
    <div [formGroup]=workform>
    <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          placeholder="Mobile Number"
          formControlName="mobileNumber"
        />
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Telephone Number</mat-label>
        <input
          matInput
          placeholder="Telephone Number"
          formControlName="telephoneNumber"
        />
      </mat-form-field>
      <br>
    </div>
  </ng-container>
    </div>
    <button mat-button type="button" (click)="add('work')">Add another work</button>


      <h2>Home</h2>
      <br>
      <div formArrayName="home">
    <ng-container *ngFor="let homeform of home.controls">
        <div [formGroup]=homeform>
      <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          placeholder="Mobile Number"
          formControlName="mobileNumber"
        />
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Telephone Number</mat-label>
        <input
          matInput
          placeholder="Telephone Number"
          formControlName="telephoneNumber"
        />
      </mat-form-field>
      <br>
    </div>
    </ng-container>

    <button mat-button type="button" (click)="add('home')">Add another home</button>

  </div>
  </div>
    </form>
</div>
<div>
  <button mat-stroked-button matStepperPrevious type="button">Back</button>
  <button mat-stroked-button matStepperNext type="button" [disabled]="form.controls['contactDetails'].invalid">Next</button>
</div>