<!DOCTYPE html>
<html lang="en" moznomarginboxes>
    <head>
        <title>HTML Resume Template</title>
    </head>
    <body class="letter">
        <section id="save">
            <section>
                <section>
                    <header class="name" aria-label="Joe Smith">
                            <svg width="257px" height="35px" viewBox="0 0 257 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Montserrat-Regular, Montserrat" font-size="48" font-weight="normal">
                                    <g id="Letter" transform="translate(-54.000000, -140.000000)" fill="#484848">
                                        <text id="JOE-SMITH">
                                            <tspan x="54.728" y="174">{{personalDetails.get('firstName').value+" "+ personalDetails.get('lastName').value}}</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                        <h4>{{controlValue('careerObjective')}}</h4>
                        <hr />
                    </header>
                    <section>
                        <mat-card class="details">
                            <div style="display: flex;">
                            <mat-card-content>Father Name: </mat-card-content>
                            <mat-card-content>{{personalDetails.get('fatherName').value}}</mat-card-content>
                            </div>
                            <div style="display: flex;">
                            <mat-card-content>Mother Name: </mat-card-content>
                            <mat-card-content>{{personalDetails.get('motherName').value}}</mat-card-content>
                        </div>
                    </mat-card>
                        <mat-card class="experience">
                            <mat-card-header>
                                <mat-card-title>
                                Experience
                            </mat-card-title>
                            </mat-card-header>
                            <hr />
                            <ol>
                                <li *ngFor="let exp of experience.value">
                                    <header>
                                        <p class="sanserif">{{exp.company}}</p>
                                        <time>{{exp.fromYear+" - " + exp.toYear}}</time>
                                    </header>
                                    <mat-card-subtitle>{{exp.role}}</mat-card-subtitle>
                                    <ul>
                                    <li>{{exp.responsibilities}}</li>
                                    </ul>
                                </li>
                            </ol>
                        </mat-card>
                        <mat-card class="education">
                            <mat-card-header>
                                <mat-card-title>
                                    Education
                                </mat-card-title>
                            </mat-card-header>
                            <hr />
                            <ol>
                                <li *ngFor="let edu of educationalDetails.value">
                                    <div>
                                        <mat-card-subtitle class="sanserif">{{edu.type}}</mat-card-subtitle>
                                        <p>{{edu.year}}</p>
                                    </div>
                                    <div>
                                        <mat-card-content>{{edu.marks + " / "+edu.total}}</mat-card-content>
                                        <br>
                                    </div>
                                </li>
                            </ol>
                        </mat-card>
                        <mat-card class="contact">
                            <mat-card-header>
                            <mat-card-title>Contact</mat-card-title>
                            </mat-card-header>
                            <hr />
                            <mat-card-subtitle>Work</mat-card-subtitle>
                            <mat-card-content>
                            <ul>
                                <li *ngFor="let work of contactDetails.value.work">
                                <div style="display: flex;">
                                    <p>Mobile: </p>
                                    <p><i class="fa fa-map-marker-alt" title="Location">{{work.mobileNumber}}</i></p>
                                </div>
                                <div style="display: flex;">
                                    <p>Telephone: </p>
                                    <p><i class="fa fa-map-marker-alt" title="Location">{{work.telephoneNumber}}</i></p>
                                </div>
                                </li>
                            </ul>
                            <br>
                        </mat-card-content>
                            <mat-card-subtitle>Home</mat-card-subtitle>
                        <mat-card-content>
                            <ul>
                                <li *ngFor="let home of contactDetails.value.home">
                                <div style="display: flex;">
                                    <p>Mobile: </p>
                                    <p><i class="fa fa-map-marker-alt" title="Location">{{home.mobileNumber}}</i></p>
                                </div>
                                <div style="display: flex;">
                                    <p>Telephone: </p>
                                    <p><i class="fa fa-map-marker-alt" title="Location">{{home.telephoneNumber}}</i></p>
                                </div>
                                </li>
                            </ul>
                        </mat-card-content>
                        </mat-card>
                        <mat-card class="skills">
                            <mat-card-header>
                                <mat-card-title>
                                    Skills
                                </mat-card-title>
                            </mat-card-header>
                            <hr />
                            <ul>
                                <li *ngFor="let skill of skills">
                                    <span>{{skill}}</span>
                                </li>
                            </ul>
                        </mat-card>
                    </section>
                </section>
            </section>
        </section>
    </body>
</html>


